<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title PasteBook</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Home.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="form-group">
                    @Html.ActionLink("PasteBook", "Index", "Pastebook", new { area = "" }, new { @class = "navbar-brand", id = "logo" })
                </div>
                <div id="custom-search-input">
                    <div class="input-group col-md-3">
                        <input type="text" class="search-query form-control" placeholder="Search" id="txtSearch" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="Search()">
                                <span type="submit" class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </div>
                <div class="navbar-collapse collapse pull-right">

                    <ul class="nav navbar-nav">
                        @{
                            <li class="dropdown" id="commentNotifDropdown">
                                <span class="dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" onclick="SeenNotif()">
                                    <span class="badge" id="globeBadge"></span><span class="glyphicon glyphicon-globe navIcon " id="globeIcon"></span>
                                </span>
                                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="menu1" id="notifDropdown">

                                    @{Html.RenderAction("GetNotificationList", "PasteBook"); }


                                </ul>
                            </li>
                                    
                        }
                        <li><span class="badge"></span><span class="glyphicon glyphicon-user navIcon"></span></li>
                        @{
                            if (Session["FirstName"] != null)
                            {
                                var name = Session["FirstName"].ToString();
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Welcome, @name!<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href='@Url.Action("Timeline", "Pastebook", new { username = @Session["Username"].ToString() })'>My Profile</a></li>
                                        <li><a href="#">Settings</a></li>
                                        <li><a href="#" id="btnLogout">Log-Out</a></li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var url = '@Url.Action("Search", "PasteBook")';
    </script>
    <script src="~/Scripts/PasteBook.js"></script>
</body>
</html>

