@model PasteBook_FinalProject.RegistrationModel

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="col-sm-12 col-md-10 col-md-offset-1" id="editPassLogo">
            Edit Password
        </div>

        <div class="form-group">
            @Html.Label("NewPasswordFor", "New Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", id = "txtNewPasswordValidate" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("CurrentPasswordFor", "Current Password:", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("CurrentPassword", new { htmlAttributes = new { @class = "form-control", id = "txtCurrentPassword" } })
                @Html.ValidationMessage("CurrentPassword", "", new { @class = "text-danger", id = "txtCurrentPasswordValidate" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

