@using BusinessLogicLibrary;

@model IEnumerable<Entity.POST>

@foreach (var item in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            @{
                BusinessLogic businessLogic = new BusinessLogic();


                string poster = string.Empty;
                string profileOwner = string.Empty;
                if (item.POSTER_ID == (int)Session["ID"])
                {
                    poster = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME;
                    profileOwner = item.USER1.FIRST_NAME + " " + item.USER1.LAST_NAME;
                }
                else if (item.POSTER_ID != (int)Session["ID"])
                {
                    poster = item.USER1.FIRST_NAME + " " + item.USER1.LAST_NAME;
                    profileOwner = item.USER.FIRST_NAME + " " + item.USER.LAST_NAME;
                }

                if (item.POSTER_ID == item.PROFILE_OWNER_ID)
                {
                    @Html.Label("FullName", poster);
                    <span class="glyphicon glyphicon-one-fine-full-dot "></span>
                    <span>@businessLogic.TimeStamp(@item.CREATED_DATE)</span>
                }
                else if (item.POSTER_ID != item.PROFILE_OWNER_ID)
                {
                    @Html.Label("FullName", poster);
                    <span aria-hidden="true" class="glyphicon glyphicon-play" id="glyphiconArrowHead"></span>
                    @Html.Label("FullName", profileOwner);
                    <span class="glyphicon glyphicon-one-fine-full-dot "></span>
                    <span>@businessLogic.TimeStamp(@item.CREATED_DATE)</span>
                }
            }
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.CONTENT)

            @{
                int likes = item.LIKEs.Where(x => x.POST_ID == item.ID).Count();
                List<string> list = new List<string>();
                <div>
                    @if (likes > 0)
                    {
                        if (likes != 0)
                        {
                            <button type="button" id="btnUnlike" class="btn btn-default" onclick="DeleteLike(@item.ID)">
                                Unlike
                            </button>
                        }

                    }
                    else
                    {
                        if (likes == 0)
                        {
                            <button type="button" id="btnLike" class="btn btn-default" onclick="AddLike(@item.ID)">
                                Like
                            </button>
                        }
                    }
                    @if (likes != 0)
                    {
                        @likes <span class="glyphicon glyphicon-thumbs-up"></span>
                    }
                    @if (item.COMMENTs.Count() != 0)
                    {
                        <hr />
                    }
                    @foreach (var itemComment in item.COMMENTs)
                    {
                        <div class="commentContainer">
                            <div class="bg-info">
                                @Html.Label("FullName", itemComment.USER.FIRST_NAME + " " + itemComment.USER.LAST_NAME)
                            </div>
                            <div class="bg-info">
                                <span>@itemComment.CONTENT</span>
                            </div>
                            <div class="bg-info">
                                <span>@itemComment.CREATED_DATE</span>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
        <div class="panel-footer">
            @{
                <input type="text" name="comment" id="txtComment@(item.ID)" class="form-control" />
                <button type="button" id="btnComment" class="btn btn-default" onclick="AddComment(@item.ID, this)" value="@item.ID">Comment</button>
            }
        </div>
    </div>
                }
