<a href="#" onclick="">Friends</a>
    Unlike
    <div class="form-horizontal">
        <hr />
        <div class="panel panel-primary">
            <div class="panel-heading">
                Update Status
            </div>
            <div class="panel-body">
                @Html.TextArea("txtPost", null, new { @rows = 10, @cols = 300, @placeholder = "What's on your mind?", id = "txtPost" })
            </div>
            <div class="panel-footer">
                <button type="button" id="btnPost" class="btn btn-default">Post</button>
            </div>
        </div>
        <div class="col-md-8"></div>
    </div>

    <div id="refreshPartialView">
        @{
            Html.RenderAction("GetAllPostPartial", "PasteBook");
        }
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


    @{
        @Scripts.Render("~/bundles/jquery");
        <script>
        var getCreatePostUrl = '@Url.Action("CreatePost", "PasteBook")';
        var getRefreshPartialViewUrl = '@Url.Action("GetAllPostPartial", "PasteBook")';
        var getLikePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var getCommentPostUrl = '@Url.Action("AddComment", "PasteBook")';

        $(document).ready(function () {
            $('#btnPost').click(function () {
                var data = {
                    post: $('#txtPost').val()
                }
                if ($('#txtPost').val() != null) {
                    $.ajax({
                        url: getCreatePostUrl,
                        data: data,
                        type: 'GET',
                        success: function () {
                            Reload();
                        },
                        error: function () {
                            alert('Something went wrong.')
                        }
                    })
                }
            })
        });

        function AddLike(ID) {
            alert("liked: " + ID);
            var data = {
                postID: ID
            };

            $.ajax({
                url: getLikePostUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                },
                error: function () {
                    alert('Something went wrong.')
                }
            })
        };

        function AddComment(ID) {
            alert("comment: " + ID)
            var data = {
                postID: ID,
                postContent: $('#txtComment').val()
            };

            $.ajax({
                url: getCommentPostUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                },
                error: function () {
                    alert('Something went wrong.')
                }
            })
        };


        function Reload(data) {
            $('#refreshPartialView').load(getRefreshPartialViewUrl);
            $('#txtPost').val("");
            $('#txtComment').val("");
            alert("liked: " + data.postID);
        };

        </script>
    }
