<div class="containerPastebook">
    <div class="col-md-4 pull-left">
        <div class="well well-lg">
            @{
                if (Model == null)
                {
                    if (Model == null)
                    {
                        <img src="~/Content/images/default.png" class="profilePicture" id="timeLinePicture" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" id="timeLinePicture" class="profilePicture"  />
                    }
                }
            }
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-horizontal ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pencil"></span> Update Status
                </div>
                <div class="panel-body">
                    @Html.TextArea("txtPost", null, new { @rows = 8, @cols = 96, @placeholder = "What's on your mind?", id = "txtPost" })
                </div>
                <div class="panel-footer">
                    <button type="button" id="btnPost" class="btn btn-default">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="refreshPartialView">
    @{
        Html.RenderAction("GetAllPostPartial", "PasteBook", new { username = "" });
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@{
    @Scripts.Render("~/bundles/jquery");
    <script>
        var getCreatePostUrl = '@Url.Action("CreatePost", "PasteBook")';
        var getRefreshPartialViewUrl = '@Url.Action("GetAllPostPartial", "PasteBook")';
        var getLikePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var getCommentPostUrl = '@Url.Action("AddComment", "PasteBook" )';
        var getNotificationUrl = '@Url.Action("Notification", "PasteBook" )';
    </script>
    <script src="~/Scripts/PasteBook.js"></script>
}
