
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Newsfeed";
}

<div class="modal fade" id="logout">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>Are you sure you want to logout?</p>
            </div>
            <div class="modal-footer">
                <button id="btnOk" type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.href = '@Url.Action("LogIn", "PasteBookAccount")'">OK</button>
                <button id="btnCancel" type="button" class="btn btn-danger" data-dismiss="modal">CANCEL</button>

            </div>
        </div>
    </div>
</div>

<div class="containerPastebook">
    <div class="col-md-4 pull-left">
        <div class="well well-lg" id="welcomeBanner">
          Welcome to PasteBook!
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-horizontal ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pencil"></span> Update Status
                </div>
                <div class="panel-body">
                    @Html.TextArea("txtPostNewsfeed", null, new { @rows = 5, @placeholder = "What's on your mind?", @class = "txtPost", id= "txtPostNewsfeed" })
                    @Html.ValidationMessage("txtPostNewsfeed", "", new { @class = "text-danger", id = "txtPostNewsfeedValidate" })
                </div>
                <div class="panel-footer">
                    <div class="col-md-11"></div>
                    <button type="button" id="btnPostNewsFeed" class="btn btn-primary" value="@Convert.ToInt32(Session["ID"])">Post</button>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="refreshPartialView">
    @{
        Html.RenderAction("GetAllPostPartial", "PasteBook");
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


@{
    @Scripts.Render("~/bundles/jquery");
    <script>
        var getCreatePostUrl = '@Url.Action("CreatePost", "PasteBook")';
        var getRefreshPartialViewUrl = '@Url.Action("GetAllPostPartial", "PasteBook")';
        var getLikePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var getCommentPostUrl = '@Url.Action("AddComment", "PasteBook" )';
        var getAddNotificationUrl = '@Url.Action("AddNotification", "PasteBook" )';
        var getGetNotificationCountUrl = '@Url.Action("GetNotificationCount", "PasteBook" )';
        var getGetNotificationListUrl = '@Url.Action("GetNotificationList", "PasteBook" )';
        var getAddFriendRequestUrl = '@Url.Action("AddFriendRequest", "PasteBook" )';
        var getUnLikePostUrl = '@Url.Action("Unlike", "PasteBook" )';


        var i = setInterval(function () { Reload() }, 60000);

        $('#btnPostNewsFeed').click(function () {
            if ($('#txtPostNewsfeed').val() == "") {
                $('#txtPostNewsfeedValidate').text("You cannot upadate your status with empty message.");
            } else {
                if ($('#txtPostNewsfeed').val().length > 1000) {
                    $('#txtPostNewsfeedValidate').text("You exceeded the 1000 character limit of a message. ");
                } else {
                    $('#txtPostNewsfeedValidate').text('');
                }
            }
            var data = {
                post: $('#txtPostNewsfeed').val(),
                profileOwnerID: $('#btnPostNewsFeed').val()
            }
            if ($('#txtPostNewsfeed').val() != "" && $('#txtPostNewsfeed').val().length < 1001) {
                $.ajax({
                    url: getCreatePostUrl,
                    data: data,
                    type: 'GET',
                    success: function () {
                        Reload();
                    }
                })
            }
        });

        function AddLike(ID) {
            var data = {
                postID: ID
            };

            $.ajax({
                url: getLikePostUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                }
            })
        };

        function UnLike(ID) {
            var data = {
                postID: ID
            };

            $.ajax({
                url: getUnLikePostUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                }
            })
        };

        function AddComment(ID, button) {
            var data = {
                postID: ID,
                postContent: $('#txtComment'.concat(button.value)).val()
            };

            $.ajax({
                url: getCommentPostUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Notification('Comment', data.PostID, data.CommentID, data.ProfileOwnerID)
                    Reload();
                }
            })
        };

        function Notification(notificationType, post_ID, comment_ID, IDtoBeFriend) {
            var data = {
                notifType: notificationType,
                postID: post_ID,
                commentID: comment_ID,
                friendRequestID: IDtoBeFriend
            }

            $.ajax({
                url: getAddNotificationUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                    NotifyFriend();
                    GetNotificationCount();
                }
            })
        };

        function NotifyFriend() {
            $.ajax({
                url: getGetNotificationListUrl,
                type: 'GET',
                success: function () {
                    Reload();
                }
            })
        };

        function GetNotificationCount() {
            $.ajax({
                url: getGetNotificationCountUrl,
                type: 'GET',
                success: function (data) {
                    RefreshBadge(data);
                }
            })
        };

        function Search() {
            location.href = url + '/?searchValue=' + $('#txtSearch').val()
        };

        function Reload() {
            $('#refreshPartialView').load(getRefreshPartialViewUrl);
            $('#txtPost').val("");
            $('#txtComment').val("");
        };

        function Notification(notificationType, post_ID, comment_ID, IDtoBeFriend) {
            var data = {
                notifType: notificationType,
                postID: post_ID,
                commentID: comment_ID,
                friendRequestID: IDtoBeFriend
            }

            $.ajax({
                url: getAddNotificationUrl,
                data: data,
                type: 'GET',
                success: function () {
                    Reload();
                    NotifyFriend();
                    GetNotificationCount();
                }
            })
        };

        function NotifyFriend() {
            $.ajax({
                url: getGetNotificationListUrl,
                type: 'GET',
                success: function () {
                    Reload();
                }
            })
        };



        function GetNotificationCount() {
            $.ajax({
                url: getGetNotificationCountUrl,
                type: 'GET',
                success: function (data) {
                    RefreshBadge(data);
                }
            })
        };

        function RefreshBadge(data) {
            if (data.NotifCount != 0) {
                $('#globeBadge').text(data.NotifCount)
            }
        }

        window.onload = GetNotificationCount

        $("#txtPostNewsfeed").keyup(function () {
            if ($('#txtPostNewsfeed').val() == "") {
                $('#txtPostNewsfeedValidate').text("You cannot upadate your status with empty message.");
            } else {
                if ($('#txtPostNewsfeed').val().length > 1000) {
                    $('#txtPostNewsfeedValidate').text("You exceeded the 1000 character limit of a message. ");
                } else {
                    $('#txtPostNewsfeedValidate').text('');
                }
            }
        });

        //////Logout

        $("#btnLogout").click(function () {
            $('#logout').modal('show');
        });



    </script>
}
