@using BusinessLogicLibrary;

@model IEnumerable<PasteBook_FinalProject.Models.PostModel>

@{
    ViewBag.Title = "RetrieveAllPostPartialView";
}

@foreach (var item in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">
            @{ 
                string poster = string.Empty;
                string profileOwner = string.Empty;
                foreach (var itemUser in item.UserInformationList)
                {
                    if (item.PosterID == itemUser.ID)
                    {
                        poster = itemUser.FIRST_NAME + " " + itemUser.LAST_NAME;
                    }
                    else if(item.ProfileOwnerID == itemUser.ID)
                    {
                        profileOwner = itemUser.FIRST_NAME + " " + itemUser.LAST_NAME;
                    }
                }

                if(item.PosterID == item.ProfileOwnerID)
                {
                    @Html.Label("FullName", poster );
                }
                else if (item.PosterID != item.ProfileOwnerID)
                {
                    @Html.Label("FullName", poster );
                    <span aria-hidden="true" class="glyphicon glyphicon-play"></span>
                    @Html.Label("FullName", profileOwner);
                }
            }
        </div>
        <div class="panel-body">
            @Html.DisplayFor(modelItem => item.postContent)
        </div>
        <div class="panel-footer">
            @Html.DisplayFor(modelItem => item.PosterID)
            @Html.DisplayFor(modelItem => item.ProfileOwnerID)
            Like Comment
            @Html.DisplayFor(modelItem => item.DateCreated)
            @{
                BusinessLogic bl = new BusinessLogic();
                @Html.Label("Time", bl.TimeStamp(item.DateCreated));
            }
        </div>
    </div>
}

