@model Entities.USER
<div class="containerPastebook">
    <div class="col-md-4 pull-left">
        <div class="well well-lg">
            @{
                if (Model != null)
                {
                    if (Model.PROFILE_PIC == null)
                    {
                        <img src="~/Content/images/default.png" class="profilePicture" id="newsfeedPicture" />
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.PROFILE_PIC);
                        var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@imgSrc" class="profilePicture" id="newsfeedPicture" />
                    }
                }
            }
        </div>
        @if (Model != null)
        {
            if ((int)Session["ID"] == Model.ID)
            {
                using (Html.BeginForm("UploadImage", "PasteBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    //photo uploading
                    <div class="well well-lg">
                        @*<h4>Change Profile Picture</h4>*@
                        <div class="wrapper">
                            <div class="col-md-12">
                                <div id="imageHolder"> </div>
                                <input id="uploadImage" title="Upload an Image" type="file" name="file" />
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" id="editProfilePicture">Save Picture</button>
                    </div>
                }
            }
        }
        <div class="panel panel-primary">
            <div class="panel-heading">
                About Me
            </div>
            <div class="panel-body">
                @if (string.IsNullOrEmpty(Model.ABOUT_ME))
                {
                    @Html.Label("AboutMe", "")
                }
                else if (!string.IsNullOrEmpty(Model.ABOUT_ME))
                {
                    @Html.Label("AboutMe", Model.ABOUT_ME)
                }
            </div>
            <div class="panel-footer">
                @if (Model.ID == (int)Session["ID"])
                {
                    <button type="button" id="btnAboutMe" class="btn btn-default">Edit</button>
                }
            </div>
        </div>
        @if (Model.ID == (int)Session["ID"])
        {
            <a href='@Url.Action("Friends", "Pastebook", new { username = Session["Username"].ToString() })'>View Friends</a>
        }
        else
        {
                    @{

                        FRIEND friend = new FRIEND()
                        }
                    <button type="button" id="friendRequest" class="form-control btn btn-primary" onclick="Notification('FriendRequest',0, 0, @Model.USER_NAME)">Add Friend</button>
        }
    </div>
    <div class="col-md-8">
        <div class="form-horizontal ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-pencil"></span> Update Status
                </div>
                <div class="panel-body">
                    @Html.TextArea("txtPost", null, new { @rows = 8, @cols = 96, @placeholder = "What's on your mind?", id = "txtPost" })
                </div>
                <div class="panel-footer">
                    <button type="button" id="btnPost" class="btn btn-default">Post</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="refreshPartialView">
    @{
        Html.RenderAction("GetAllPostPartial", "PasteBook", new { username = "" });
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    @Scripts.Render("~/bundles/jquery");
    <script>
        var getCreatePostUrl = '@Url.Action("CreatePost", "PasteBook")';
        var getRefreshPartialViewUrl = '@Url.Action("GetAllPostPartial", "PasteBook")';
        var getLikePostUrl = '@Url.Action("LikePost", "PasteBook")';
        var getCommentPostUrl = '@Url.Action("AddComment", "PasteBook" )';
        var getNotificationUrl = '@Url.Action("Notification", "PasteBook" )';
        var getGetNotificationCountUrl = '@Url.Action("GetNotificationCount", "PasteBook" )';
        var getGetNotificationListUrl = '@Url.Action("GetNotificationList", "PasteBook" )';
        var getAddFriendRequestUrl = '@Url.Action("AddFriendRequest", "PasteBook" )';
    </script>
    <script src="~/Scripts/PasteBook.js"></script>
}